
body {
  padding-top: 3.5rem;
}

.pad{
  margin: 1%;
}

.pgred{
  background-color: black
}

#Evil{
  margin-left: 30%;
  margin-right: 30%;
}
#video {
  margin-right: 30%;
  width: 500px;
  height: 350px;
}

#tornasu {
  margin-left: 45%;
}